/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(135, 118, 198, 0.8);
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(116, 116, 201, 0.2);
}

.nav-logo {
    width: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(15, 13, 13);
    font-weight: 600;
    transition: color 0.5s ease;
}

.navbar ul li a:hover {
    color: #292d3f;
}

/* About Section */
.about-section {
    background: url('images/bg.jpg') no-repeat center center/cover;
    color: rgb(18, 18, 25);
    text-align: center;
    padding: 120px 20px 80px;
    position: relative;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out;
}

.about-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.about-content {
    max-width:1000px;
    margin: auto;
    animation: slideIn 1.5s ease-in-out;
}

.about-section h1, .about-section h2 {
    margin-bottom:30px;
    animation: fadeUp 2s ease-in-out;
}

.about-section ul {
    text-align: left;
    margin: 20px auto;
    padding: 10;
    max-width: 700px;
}

.about-section ul li {
    font-size:1.2rem;
    margin-bottom: 15px;
    line-height: 1.6;
    animation: fadeUp 2.5s ease-in-out;
}

/* Testimonials Section */
.testimonials {
    background: linear-gradient(135deg, #4d3a60, #423d62);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.testimonials h2 {
    margin-bottom: 30px;
}

.testimonial {
    background: rgba(16, 15, 15, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 600px;
    font-style: italic;
    animation: fadeIn 1.5s ease-in-out;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #1a1819;
}

/* Footer */
.footer {
    background-color: #9687db;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

.footer a {
    text-decoration: none;
    color: #eaebef;
}

.footer a:hover {
    color: #812a75;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
